<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MyShop" verbose="1" parallel="tests">
    <listeners>
        <listener class-name="demo.TestNGListener"></listener>
    </listeners>
    <test name="Tests in Chrome" >
        <parameter name="browser" value="chrome"></parameter>
        <parameter name="os" value="windows"></parameter>
        <classes>
            <class name="demo.LoginTests" />
            <class name="demo.ShoppingTests" />
        </classes>
    </test>
    <test name="Tests in Firefox" >
        <parameter name="browser" value="firefox"></parameter>
        <parameter name="os" value="linux"></parameter>
        <classes>
            <class name="demo.LoginTests" />
            <class name="demo.ShoppingTests" />
        </classes>
    </test>

</suite>
